* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffa952; 
  }
  
  #navbar h1 {
    padding: 1em;
    flex-basis: 80%;
  }
  
  nav {
    display: flex;
  }
  nav a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    /* border-right: 1px solid black; */
    box-shadow: 2px 2px 2px darkslateblue;
    margin-right: 1em;
  }

  nav a:hover {
    background-color: #ffe79a;
  }

  