* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }

  body {
    background: #feffdf;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffa952; 
  }
  
  #navbar h1 {
    padding: 1em;
    flex-basis: 70%;
  }
  
  nav {
    display: flex;
  }
  nav a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    /* border-right: 1px solid black; */
    box-shadow: 2px 2px 2px darkslateblue;
    margin-right: 1em;
  }

  nav a:hover {
    background-color: #ffe79a;
  }
  
  i { 
    color: green;
  }

  #all-posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .post {

    border: 1px solid black;
    max-width: 40%;
    min-width: 40%;
    margin: 1em;
    padding: 1em;
    background-color: white;
  }
#register-form {
  display: flex;
  flex-flow: column;
  margin-top: 2em;
  max-width: 10%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

#register-form button {
  margin-top: 10px;
}

#register-form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-post {
  display: flex;
  flex-direction: column;
}

.new-post input {
  margin: 5px;
}

/* #description {
  width: 50%;
  height: 100px;
} */